IIKO_API_URL=https://api-ru.iiko.services/api/1
IIKO_LOGIN=your_login
IIKO_PASSWORD=your_password
IIKO_ORGANIZATION_ID=your-organization-uuid

PORT=3001
NODE_ENV=production

# Время кэша меню в секундах (300 = 5 мин)
MENU_CACHE_TTL=300
